
.header{
    text-align: center;
}
.discripition{
    font-size: 17px;
    text-align: center;
    margin-top: 25px;
}
.button{
    text-decoration: none;
    color: rgba(86, 86, 206, 0.966);
}
.whyimagesbazaar{
    background-color: white;
    padding-bottom: 10px;
}