
.heading{
    text-align: center;
}

button{
    border: none;
    background-color: white;
}
.floatleft{
    float: left;
}
.floatleft h5{
    margin-top:17px ;
}

.floatleft h5{
    margin-top: 80px;
}
.info{
    margin-top: 17px;
    float:right;
    list-style-type: none;
}